In [1]:
import pandas as pd

In [2]:
traffic = pd.read_csv('Uber_Traffic.csv')

In [3]:
traffic.head()

        DateTime  Junction  Vehicles           ID
0  01/11/15 0:00         1        15  20151101001
1  01/11/15 1:00         1        13  20151101011
2  01/11/15 2:00         1        10  20151101021
3  01/11/15 3:00         1         7  20151101031
4  01/11/15 4:00         1         9  20151101041

In [11]:
"""Date,event_name,event_type,city

# ---- Public Holidays (India) ----
2015-11-11,Diwali,holiday,India
2015-12-25,Christmas,holiday,India

2016-01-01,New Year,holiday,India
2016-01-26,Republic Day,holiday,India
2016-03-24,Holi,holiday,India
2016-07-06,Eid-ul-Fitr,holiday,India
2016-08-15,Independence Day,holiday,India
2016-10-11,Dussehra,holiday,India
2016-10-30,Diwali,holiday,India
2016-12-25,Christmas,holiday,India

2017-01-01,New Year,holiday,India
2017-01-26,Republic Day,holiday,India
2017-03-13,Holi,holiday,India
2017-06-26,Eid-ul-Fitr,holiday,India

# ---- Telangana/Hyderabad Holidays ----
2016-04-08,Ugadi,holiday,Telangana
2016-06-02,Telangana Formation Day,holiday,Telangana
2016-07-17,Bonalu Festival,festival,Hyderabad
2016-09-05,Ganesh Chaturthi,festival,India
2016-09-15,Ganesh Visarjan,procession,Hyderabad

2017-03-29,Ugadi,holiday,Telangana
2017-06-25,Bonalu Festival,festival,Hyderabad

# ---- Major Festivals & Processions ----
2016-10-16,Bathukamma Festival,festival,Hyderabad
2017-09-23,Bathukamma Festival,festival,Hyderabad

# ---- Sports Events (IPL + Marathon) ----
2016-05-12,IPL SRH vs MI,sports,Hyderabad
2016-05-18,IPL SRH vs DD,sports,Hyderabad
2016-05-22,IPL SRH vs RCB,sports,Hyderabad

2017-03-12,Hyderabad Marathon,sports,Hyderabad
2017-04-05,IPL SRH vs RCB,sports,Hyderabad
2017-04-09,IPL SRH vs GL,sports,Hyderabad
2017-04-17,IPL SRH vs KKR,sports,Hyderabad
2017-04-23,IPL SRH vs KXIP,sports,Hyderabad
2017-05-08,IPL SRH vs MI,sports,Hyderabad

# ---- Concerts & Large Public Events ----
2016-11-05,Sunburn Arena Hyderabad,concert,Hyderabad
2016-12-10,Arijit Singh Live in Concert,concert,Hyderabad
2017-02-04,EDM Night HITEX,concert,Hyderabad
2017-03-18,Hyderabad Comic Con,event,Hyderabad
2017-04-15,HITEX Furniture Expo,event,Hyderabad

# ---- Demonstrations / Public Protests ----
2016-02-14,University Protest at Osmania,demonstration,Hyderabad
2016-09-09,Public Rally at Tank Bund,demonstration,Hyderabad
2017-01-15,Student Protest at HCU,demonstration,Hyderabad
2017-05-01,May Day Rally Parade,demonstration,Hyderabad """

'Date,event_name,event_type,city\n\n# ---- Public Holidays (India) ----\n2015-11-11,Diwali,holiday,India\n2015-12-25,Christmas,holiday,India\n\n2016-01-01,New Year,holiday,India\n2016-01-26,Republic Day,holiday,India\n2016-03-24,Holi,holiday,India\n2016-07-06,Eid-ul-Fitr,holiday,India\n2016-08-15,Independence Day,holiday,India\n2016-10-11,Dussehra,holiday,India\n2016-10-30,Diwali,holiday,India\n2016-12-25,Christmas,holiday,India\n\n2017-01-01,New Year,holiday,India\n2017-01-26,Republic Day,holiday,India\n2017-03-13,Holi,holiday,India\n2017-06-26,Eid-ul-Fitr,holiday,India\n\n# ---- Telangana/Hyderabad Holidays ----\n2016-04-08,Ugadi,holiday,Telangana\n2016-06-02,Telangana Formation Day,holiday,Telangana\n2016-07-17,Bonalu Festival,festival,Hyderabad\n2016-09-05,Ganesh Chaturthi,festival,India\n2016-09-15,Ganesh Visarjan,procession,Hyderabad\n\n2017-03-29,Ugadi,holiday,Telangana\n2017-06-25,Bonalu Festival,festival,Hyderabad\n\n# ---- Major Festivals & Processions ----\n2016-10-16,Bathukamma Festival,festival,Hyderabad\n2017-09-23,Bathukamma Festival,festival,Hyderabad\n\n# ---- Sports Events (IPL + Marathon) ----\n2016-05-12,IPL SRH vs MI,sports,Hyderabad\n2016-05-18,IPL SRH vs DD,sports,Hyderabad\n2016-05-22,IPL SRH vs RCB,sports,Hyderabad\n\n2017-03-12,Hyderabad Marathon,sports,Hyderabad\n2017-04-05,IPL SRH vs RCB,sports,Hyderabad\n2017-04-09,IPL SRH vs GL,sports,Hyderabad\n2017-04-17,IPL SRH vs KKR,sports,Hyderabad\n2017-04-23,IPL SRH vs KXIP,sports,Hyderabad\n2017-05-08,IPL SRH vs MI,sports,Hyderabad\n\n# ---- Concerts & Large Public Events ----\n2016-11-05,Sunburn Arena Hyderabad,concert,Hyderabad\n2016-12-10,Arijit Singh Live in Concert,concert,Hyderabad\n2017-02-04,EDM Night HITEX,concert,Hyderabad\n2017-03-18,Hyderabad Comic Con,event,Hyderabad\n2017-04-15,HITEX Furniture Expo,event,Hyderabad\n\n# ---- Demonstrations / Public Protests ----\n2016-02-14,University Protest at Osmania,demonstration,Hyderabad\n2016-09-09,Public Rally at Tank Bund,demonstration,Hyderabad\n2017-01-15,Student Protest at HCU,demonstration,Hyderabad\n2017-05-01,May Day Rally Parade,demonstration,Hyderabad '

In [12]:
import pandas as pd
from io import StringIO

csv_data = """Date,event_name,event_type,city
2015-11-11,Diwali,holiday,India
2015-12-25,Christmas,holiday,India
2016-01-01,New Year,holiday,India
2016-01-26,Republic Day,holiday,India
2016-03-24,Holi,holiday,India
2016-07-06,Eid-ul-Fitr,holiday,India
2016-08-15,Independence Day,holiday,India
2016-10-11,Dussehra,holiday,India
2016-10-30,Diwali,holiday,India
2016-12-25,Christmas,holiday,India
2017-01-01,New Year,holiday,India
2017-01-26,Republic Day,holiday,India
2017-03-13,Holi,holiday,India
2017-06-26,Eid-ul-Fitr,holiday,India
2016-04-08,Ugadi,holiday,Telangana
2016-06-02,Telangana Formation Day,holiday,Telangana
2016-07-17,Bonalu Festival,festival,Hyderabad
2016-09-05,Ganesh Chaturthi,festival,India
2016-09-15,Ganesh Visarjan,procession,Hyderabad
2017-03-29,Ugadi,holiday,Telangana
2017-06-25,Bonalu Festival,festival,Hyderabad
2016-10-16,Bathukamma Festival,festival,Hyderabad
2017-09-23,Bathukamma Festival,festival,Hyderabad
2016-05-12,IPL SRH vs MI,sports,Hyderabad
2016-05-18,IPL SRH vs DD,sports,Hyderabad
2016-05-22,IPL SRH vs RCB,sports,Hyderabad
2017-03-12,Hyderabad Marathon,sports,Hyderabad
2017-04-05,IPL SRH vs RCB,sports,Hyderabad
2017-04-09,IPL SRH vs GL,sports,Hyderabad
2017-04-17,IPL SRH vs KKR,sports,Hyderabad
2017-04-23,IPL SRH vs KXIP,sports,Hyderabad
2017-05-08,IPL SRH vs MI,sports,Hyderabad
2016-11-05,Sunburn Arena Hyderabad,concert,Hyderabad
2016-12-10,Arijit Singh Live in Concert,concert,Hyderabad
2017-02-04,EDM Night HITEX,concert,Hyderabad
2017-03-18,Hyderabad Comic Con,event,Hyderabad
2017-04-15,HITEX Furniture Expo,event,Hyderabad
2016-02-14,University Protest at Osmania,demonstration,Hyderabad
2016-09-09,Public Rally at Tank Bund,demonstration,Hyderabad
2017-01-15,Student Protest at HCU,demonstration,Hyderabad
2017-05-01,May Day Rally Parade,demonstration,Hyderabad
"""

df_events = pd.read_csv(StringIO(csv_data))

In [13]:
df_events.to_csv("hyderabad_events.csv", index=False)

In [14]:
print("Saved: hyderabad_events.csv")

Saved: hyderabad_events.csv

In [15]:
import pandas as pd

# Load your events CSV
df = pd.read_csv("hyderabad_events.csv")

# Create empty indicator (dummy) columns
df["sports_event"] = (df["event_type"] == "sports").astype(int)
df["concert"] = (df["event_type"] == "concert").astype(int)
df["public_holiday"] = (df["event_type"] == "holiday").astype(int)
df["public_demonstration"] = (df["event_type"] == "demonstration").astype(int)

In [16]:
df.head()

,Date,event_name,event_type,city,sports_event,concert,public_holiday,public_demonstration
0,2015-11-11,Diwali,holiday,India,0,0,1,0
1,2015-12-25,Christmas,holiday,India,0,0,1,0
2,2016-01-01,New Year,holiday,India,0,0,1,0
3,2016-01-26,Republic Day,holiday,India,0,0,1,0
4,2016-03-24,Holi,holiday,India,0,0,1,0

In [17]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [18]:
df['Date'] = df['Date'].dt.strftime('%d-%m-%Y')

In [19]:
df.head()

,Date,event_name,event_type,city,sports_event,concert,public_holiday,public_demonstration
0,11-11-2015,Diwali,holiday,India,0,0,1,0
1,25-12-2015,Christmas,holiday,India,0,0,1,0
2,01-01-2016,New Year,holiday,India,0,0,1,0
3,26-01-2016,Republic Day,holiday,India,0,0,1,0
4,24-03-2016,Holi,holiday,India,0,0,1,0

In [20]:
# Save final dataset
df.to_csv("hyderabad_events_final.csv", index=False)