## Integrate data from various sources:
Develop a data integration pipeline to merge traffic, weather, and event data into a unified dataset.
Ensure data is synchronized based on timestamps to align traffic data with corresponding weather conditions and events

### Step 1: Load All Datasets

In [1]:
#import library
import pandas as pd

In [2]:
# Load traffic data
traffic_df = pd.read_csv('Uber_Traffic.csv')
traffic_df.head()

        DateTime  Junction  Vehicles           ID
0  01/11/15 0:00         1        15  20151101001
1  01/11/15 1:00         1        13  20151101011
2  01/11/15 2:00         1        10  20151101021
3  01/11/15 3:00         1         7  20151101031
4  01/11/15 4:00         1         9  20151101041

In [3]:
# Load weather data
weather_df = pd.read_csv('Hyderabad_Weather.csv')
weather_df.head()

,DateTime,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m
0,01-11-2015 00:00,23.0995,73.478800,0.0,5.351785
1,01-11-2015 01:00,22.3995,77.633230,0.0,5.804825
2,01-11-2015 02:00,21.5995,81.514390,0.0,5.315336
3,01-11-2015 03:00,21.1995,83.013900,0.0,5.634891
4,01-11-2015 04:00,20.9495,83.507774,0.0,7.072878

In [17]:
# Load events data
events_df = pd.read_csv('Hyderabad_Events_Final.csv')
events_df.head()

,Date,event_name,event_type,city,sports_event,concert,public_holiday,public_demonstration
0,11-11-2015,Diwali,holiday,India,0,0,1,0
1,25-12-2015,Christmas,holiday,India,0,0,1,0
2,01-01-2016,New Year,holiday,India,0,0,1,0
3,26-01-2016,Republic Day,holiday,India,0,0,1,0
4,24-03-2016,Holi,holiday,India,0,0,1,0

In [5]:
# Checking the Shape (row,column)
print('Traffic Data Shape: ' ,traffic_df.shape)
print('Weather Data Shape: ' ,weather_df.shape)
print('Event Data Shape: ' ,events_df.shape)

Traffic Data Shape:  (48120, 4)
Weather Data Shape:  (14592, 5)
Event Data Shape:  (41, 8)

### Step 2: Convert Date/Time Columns into Proper Format

In [6]:
# Traffic datetime is in the format: "01/11/15 0:00"
traffic_df['DateTime'] = pd.to_datetime(traffic_df['DateTime'], format='%d/%m/%y %H:%M')
traffic_df.head()

             DateTime  Junction  Vehicles           ID
0 2015-11-01 00:00:00         1        15  20151101001
1 2015-11-01 01:00:00         1        13  20151101011
2 2015-11-01 02:00:00         1        10  20151101021
3 2015-11-01 03:00:00         1         7  20151101031
4 2015-11-01 04:00:00         1         9  20151101041

In [7]:
# Convert weather DateTime (e.g., "01-11-2015 00:00:00")
weather_df['DateTime'] = pd.to_datetime(weather_df['DateTime'], dayfirst=True)

weather_df.head()

,DateTime,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m
0,2015-11-01 00:00:00,23.0995,73.478800,0.0,5.351785
1,2015-11-01 01:00:00,22.3995,77.633230,0.0,5.804825
2,2015-11-01 02:00:00,21.5995,81.514390,0.0,5.315336
3,2015-11-01 03:00:00,21.1995,83.013900,0.0,5.634891
4,2015-11-01 04:00:00,20.9495,83.507774,0.0,7.072878

### Step 3: Merge Datasets

In [8]:
# Merge both using their DateTime
combined_df = pd.merge(traffic_df, weather_df, on='DateTime', how='left')

combined_df.head()

,DateTime,Junction,Vehicles,ID,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m
0,2015-11-01 00:00:00,1,15,20151101001,23.0995,73.478800,0.0,5.351785
1,2015-11-01 01:00:00,1,13,20151101011,22.3995,77.633230,0.0,5.804825
2,2015-11-01 02:00:00,1,10,20151101021,21.5995,81.514390,0.0,5.315336
3,2015-11-01 03:00:00,1,7,20151101031,21.1995,83.013900,0.0,5.634891
4,2015-11-01 04:00:00,1,9,20151101041,20.9495,83.507774,0.0,7.072878

In [9]:
# Extract only the date (without time) for event matching
combined_df['Date'] = combined_df['DateTime'].dt.date

combined_df.head()

,DateTime,Junction,Vehicles,ID,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m,Date
0,2015-11-01 00:00:00,1,15,20151101001,23.0995,73.478800,0.0,5.351785,2015-11-01
1,2015-11-01 01:00:00,1,13,20151101011,22.3995,77.633230,0.0,5.804825,2015-11-01
2,2015-11-01 02:00:00,1,10,20151101021,21.5995,81.514390,0.0,5.315336,2015-11-01
3,2015-11-01 03:00:00,1,7,20151101031,21.1995,83.013900,0.0,5.634891,2015-11-01
4,2015-11-01 04:00:00,1,9,20151101041,20.9495,83.507774,0.0,7.072878,2015-11-01

In [18]:
# Convert event dates to actual date format
events_df['Date'] = pd.to_datetime(events_df['Date'], dayfirst=True).dt.date

events_df.head()

,Date,event_name,event_type,city,sports_event,concert,public_holiday,public_demonstration
0,2015-11-11,Diwali,holiday,India,0,0,1,0
1,2015-12-25,Christmas,holiday,India,0,0,1,0
2,2016-01-01,New Year,holiday,India,0,0,1,0
3,2016-01-26,Republic Day,holiday,India,0,0,1,0
4,2016-03-24,Holi,holiday,India,0,0,1,0

In [19]:
# Merge on Date (NOT DateTime)
final_df = combined_df.merge(events_df, on='Date', how='left')

## Handle data quality issues:
Clean the dataset by removing duplicates, handling missing values (imputation or removal), and correcting inconsistencies.
Normalize or standardize data to bring different variables to a common scale.

###Step 1: Inspect the Dataset

In [20]:
# read the data
final_df.head()

,DateTime,Junction,Vehicles,ID,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m,Date,event_name,event_type,city,sports_event,concert,public_holiday,public_demonstration
0,2015-11-01 00:00:00,1,15,20151101001,23.0995,73.478800,0.0,5.351785,2015-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-11-01 01:00:00,1,13,20151101011,22.3995,77.633230,0.0,5.804825,2015-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-11-01 02:00:00,1,10,20151101021,21.5995,81.514390,0.0,5.315336,2015-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-11-01 03:00:00,1,7,20151101031,21.1995,83.013900,0.0,5.634891,2015-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-11-01 04:00:00,1,9,20151101041,20.9495,83.507774,0.0,7.072878,2015-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
final_df.shape

(48120, 16)

In [22]:
# Check final info
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48120 entries, 0 to 48119
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateTime              48120 non-null  datetime64[ns]
 1   Junction              48120 non-null  int64
 2   Vehicles              48120 non-null  int64
 3   ID                    48120 non-null  int64
 4   temperature_2m        48120 non-null  float64
 5   relative_humidity_2m  48120 non-null  float64
 6   precipitation         48120 non-null  float64
 7   wind_speed_10m        48120 non-null  float64
 8   Date                  48120 non-null  object
 9   event_name            3288 non-null   object
 10  event_type            3288 non-null   object
 11  city                  3288 non-null   object
 12  sports_event          3288 non-null   float64
 13  concert               3288 non-null   float64
 14  public_holiday        3288 non-null   float64
 15  public_demonstration  3288 non-null   float64
dtypes: datetime64[ns](1), float64(8), int64(3), object(4)
memory usage: 5.9+ MB

In [23]:
# Checking for duplicate rows
final_df.duplicated().sum()

0

### Step 2: Impute missing values

In [24]:
# Filling the missing values
final_df['event_name'] = final_df['event_name'].fillna("No Event")
final_df['event_type'] = final_df['event_type'].fillna('None')
final_df['sports_event'] = final_df['sports_event'].fillna('No Sport')
final_df['concert'] = final_df['concert'].fillna('No concert')
final_df['public_holiday'] = final_df['public_holiday'].fillna('No holding')
final_df['public_demonstration'] = final_df['public_demonstration'].fillna('No demonstration')

In [25]:
final_df.head()

,DateTime,Junction,Vehicles,ID,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m,Date,event_name,event_type,city,sports_event,concert,public_holiday,public_demonstration
0,2015-11-01 00:00:00,1,15,20151101001,23.0995,73.478800,0.0,5.351785,2015-11-01,No Event,None,NaN,No Sport,No concert,No holding,No demonstration
1,2015-11-01 01:00:00,1,13,20151101011,22.3995,77.633230,0.0,5.804825,2015-11-01,No Event,None,NaN,No Sport,No concert,No holding,No demonstration
2,2015-11-01 02:00:00,1,10,20151101021,21.5995,81.514390,0.0,5.315336,2015-11-01,No Event,None,NaN,No Sport,No concert,No holding,No demonstration
3,2015-11-01 03:00:00,1,7,20151101031,21.1995,83.013900,0.0,5.634891,2015-11-01,No Event,None,NaN,No Sport,No concert,No holding,No demonstration
4,2015-11-01 04:00:00,1,9,20151101041,20.9495,83.507774,0.0,7.072878,2015-11-01,No Event,None,NaN,No Sport,No concert,No holding,No demonstration

###Step 2: Remove Duplicate Rows

In [26]:
final_df.drop_duplicates(inplace=True)

### Step 3: Handle Missing Values

In [27]:
# Check for missing values
final_df.isnull().sum()

DateTime                    0
Junction                    0
Vehicles                    0
ID                          0
temperature_2m              0
relative_humidity_2m        0
precipitation               0
wind_speed_10m              0
Date                        0
event_name                  0
event_type                  0
city                    44832
sports_event                0
concert                     0
public_holiday              0
public_demonstration        0
dtype: int64

### Step 4: Correct Inconsistent Values

In [28]:
# Convert date columns to proper datetime
final_df['DateTime'] = pd.to_datetime(final_df['DateTime'])

### Step 5: Normalization

Normalization (0 to 1 range)

In [29]:
from sklearn.preprocessing import MinMaxScaler

# Define the numerical columns for normalization
num_cols = ['temperature_2m', 'relative_humidity_2m', 'precipitation', 'wind_speed_10m']

scaler = MinMaxScaler()
final_df[num_cols] = scaler.fit_transform(final_df[num_cols])

In [30]:
# Save to CSV
final_df.to_csv('traffic_data.csv', index=False)

In [31]:
final_df.head()

,DateTime,Junction,Vehicles,ID,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m,Date,event_name,event_type,city,sports_event,concert,public_holiday,public_demonstration
0,2015-11-01 00:00:00,1,15,20151101001,0.366609,0.715399,0.0,0.144331,2015-11-01,No Event,None,NaN,No Sport,No concert,No holding,No demonstration
1,2015-11-01 01:00:00,1,13,20151101011,0.342513,0.761021,0.0,0.156549,2015-11-01,No Event,None,NaN,No Sport,No concert,No holding,No demonstration
2,2015-11-01 02:00:00,1,10,20151101021,0.314974,0.803642,0.0,0.143348,2015-11-01,No Event,None,NaN,No Sport,No concert,No holding,No demonstration
3,2015-11-01 03:00:00,1,7,20151101031,0.301205,0.820109,0.0,0.151966,2015-11-01,No Event,None,NaN,No Sport,No concert,No holding,No demonstration
4,2015-11-01 04:00:00,1,9,20151101041,0.292599,0.825532,0.0,0.190746,2015-11-01,No Event,None,NaN,No Sport,No concert,No holding,No demonstration